body {
  display: flex;
  /*justify-content: center;*/
}

.blocks {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.block {
  width: 100px;
  height: 100px;
  margin: 10px;
  animation-name: example;
  animation-duration: 4s;
  position: relative;
}
/* @keyframes example{
  0%{left:50px;}
  25% {border: 10px groove salmon; top: 0%; }
  50% {border: 10px groove black; top: -65px;}
  75% {color: purple; left: 300px;}
  100%{color : ""; left: 0px; }

} */



.block--red {
  background-color: red;
}

.block--blue {
  background-color: blue;
}

.block--green {
  background-color: green;
}

.block--pink {
  background-color: pink;
}

.block--gray {
  background-color: gray;
}